# Ignore everything
/*

# Allow root-level files and specific directories
!/*

# Allow specific folders
!/apps/
!/venv/
!/assets/
!/InputFiles/

# Ignore contents of these folders, but not the folders themselves
/apps/*
!/apps/**

/venv/*
!/venv/**

/assets/*
!/assets/**

/InputFiles/*
!/InputFiles/**/
!/InputFiles/example_data/
!/InputFiles/example_data/*.csv

# Ignore all CSVs everywhere else
*.csv

# Ignore BackupScript entirely
/BackupScript/

# Allow .gitkeep files everywhere
!.gitkeep