pandas==2.2.2
dash==2.6.1
openpyxl==3.0.7
XlsxWriter==1.4.3
pyarrow==9.0.0
plotly==5.10.0
dash-bootstrap-components==2.0.2
dash_table==5.0.0
dash-daq==0.5.0
holidays==0.72
yfinance==0.2.61
rapidfuzz==3.13.0